# gitignore file for Python projects
__pycache__

# Ignore PDF & MD files
books/**/
*.pdf

# Ignore scripts generated data files
# Those are just for testing
scripts/data/*
*.log

# Ignore API's build & data files
api/bin/*
api/data/*
!api/data/*.go
