.main_content {
  display: flex;
  justify-content: space-between;

  .books {
    #summa_theologiae a {
      display: flex;
      flex-direction: column;
      width: fit-content;
      align-items: center;
      /* justify-content: center; */

      h1 {
        /* text-align: center; */
        color: #4d6c82;
        text-decoration: underline;
      }
      .summa_cover {
        height: 612px;
        width: 512px;
      }
    }
  }
}
