.main_content {
  display: flex;
  justify-content: space-between;

  .books {
    #summa_theologiae a {
      display: flex;
      flex-direction: column;
      width: fit-content;
      align-items: center;

      h1 {
        color: #4d6c82;
        text-decoration: underline;
      }
      .summa_cover {
        height: 412px;
        /* width: 312px; */
      }
    }
  }
}
